
Project Inventory/.vs/Project Inventory/v16/.suo

*.pdb

*.dll

*.cache

*.exe

Local API Server/.vs/Local API Server/v16/

*.v2

*.Config

Mode D'emploi.odt

.~lock.Mode D'emploi.odt#

App.Config

Local API Server/Local API Server/Properties/launchSettings.json
